{% extends 'base.html'%}
{%load static%}
{% block content %}
<html>
    <head>
        <style>
.aziz{/* The image used */
    background-image: url("{%static 'pages\img\julissa-capdevilla-DrcvQkn03Js-unsplash.jpg'%}");
  
    /* Full height */
    height: 135%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10;
     color: rgb(250, 129, 149);


}
h1{ color:rgb(250, 129, 149);
text-align: center;
font-family: "Lucida Console", "Courier New", monospace;
padding-top: 350;
}
    
    
    </style>
    </head>
    <body>
        <div class="aziz">
    
            <h1>THANK YOU <br>FOR YOUR COMMENT <br> WE APPRECIATE IT....</h1>
            

           </div>
    
    </body>
</html>
{% endblock %}